* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #262626;
    --secondary-color: #181818;
    --text-color: #eeebd6;
    --tag-color: #3e3e3e;
    --highlight-color: #79FF96;
    --highlight-color-hover: #55c16c;
    --input-bg: #2F2F2F;
    --input-text: #aaa9a0;
    --font-family-inter: 'Inter', sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
}

input {
    background-color: inherit;
    color: inherit;
    border-radius: 8px;

    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border: none;
    outline: none;
}

.home-page {
    display: flex;
    height: 100vh;
}

.header {
    padding: 60px 60px 0 100px;
}

.sidebar {
    background-color: var(--secondary-color);
    padding: 20px;
    width: 300px;
}

.filter-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filter-section label {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--text-color);
}

.filter-section select {
    padding: 10px;
    background-color: var(--input-bg);
    color: var(--input-text);
    border: none;
    border-radius: 5px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.header {
    width: 80%;
    text-align: left;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 124px;
    margin: 0;
}

.header .highlight {
    color: var(--highlight-color);
}

.search-bar {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 20px 0 0 100px;
    background-color: var(--input-bg);
    color: var(--input-text);
    border-radius: 8px;
}

.search-bar input {
    background-color: inherit;
    color: inherit;
    border-radius: 8px;

    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border: none;
    outline: none;
}

.search-bar .search-button {
    background-color: var(--tag-color);
    color: inherit;
    border-radius: 8px;
    cursor: pointer;

    padding: 15px;
    font-size: 1rem;
    border: none;
    outline: none;
}

.search-bar .search-button:hover {
    background-color: var(--input-text);
    color: var(--input-bg);
}


.results-section {
    margin: 20px 20px 0 100px;
    width: 50%;
    padding: clamp(1rem, 5vw, 2rem);
    overflow-y: auto;

    gap: 1rem;

    display: flex;
    flex-direction: column;

    /* height: clamp(200px, calc(70vh - 50px), 500px); */
    overflow-y: auto;
    background-color: var(--input-bg);
    max-height: calc(100vh - 100px);
    /* Adjust height to fit within the page layout */

    scrollbar-width: thin;
    scrollbar-color: #888 #333;

    /* padding: 20px; */
    border-radius: 8px;
}

.results-container::-webkit-scrollbar {
    width: 8px;
}

.results-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.results-container::-webkit-scrollbar-track {
    background-color: #333;
}

.result-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--primary-color);
    color: var(--text-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 1rem;
    font-size: 1em;
    margin-bottom: 10px;
}

.result-title {
    color: var(--highlight-color);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.result-content {
    max-width: 70%;
}

.result-card p {
    margin: 5px 0 0;
    font-size: 1rem;
    color: var(--text-color);
    line-height: 1.4rem;
}

.result-meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
}

.result-author,
.result-year {
    font-size: 0.9rem;
    background-color: var(--tag-color);
    padding: 0.5rem 0.8rem;
    border-radius: 20px;
    text-align: center;
}

.info-section {
    margin: 20px 20px 0 100px;
    justify-self: end;
    width: 50%;
    padding: 20px;
    color: var(--input-text);
    /* background-color: var(--input-bg); */
    border-radius: 8px;
}

.footer {
    margin-top: 40px;
    font-size: 14px;
    color: gray;
}