.profile-menu {
    position: relative;
    display: inline-block;
}

.profile-icon {
    background-color: var(--secondary-color);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 10;
    min-width: 50px;
}

.dropdown-item {
    padding: 10px 15px;
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown-item:hover {
    background-color: var(--input-bg);
}
